body {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FBF8EF;
    width: inherit;
    white-space:normal;
    word-break:break-all;
    word-wrap:break-word;
}

img {
    width: 237px;
    height: 324px;
}